*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
#head{
    background-color: black;
}
header h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: blueviolet;
}
header h2{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 8px;
    padding-bottom: 80px;
    color:black;
}
#navbar{
    position: sticky;
    top: 0;
}
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(24, 91, 107);
}
.list{
    float:left;
}
.list a{
    display: block;
    padding: 12px 12px;
    color: whitesmoke;
    text-decoration: none;
}
.list a:hover{
    color: black;
    border-radius: 18px;
}
#right{
    float: right;
}

/*row-1*/

#background{
    max-width: 100%;
    height: 1200px;
    background-image: url(image/backgroundimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#details{
    max-width:60%;
    margin: auto;
    color:black;
    font-size: larger;
    text-align:left;
}

/* footer */

.foot{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
#con{
    flex:33%;
    color: white;
    background-color: black;
}
#foot{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: blueviolet;
}
#unorder{
    list-style-type: none;
    margin:0;
    padding: 25px 100px;
    overflow: hidden;
    background-color:black;
}
li a{
    color: white;
    text-decoration: none;
    padding: 12px 12px;
}
li a:hover{
    color: blueviolet;
}
#copy{
    background-color: black;
    color: white;
    padding: 20px;
}
#copy,#align{
    text-align: center;
    text-decoration: none;
}



