*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    max-width: 100%;
    background-image: url(image/backgroundimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#head{
    background-color: black;
}
header h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: blueviolet;
}
header h2{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 8px;
    color:black;
}
#navbar{
    position: sticky;
    top: 0;
}
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(24, 91, 107);
}
.list{
    float:left;
}
.list a{
    display: block;
    padding: 12px 12px;
    color: whitesmoke;
    text-decoration: none;
}
.list a:hover{
    color: black;
    border-radius: 18px;
}
#right{
    float: right;
}

/*row-1*/

.sub-con{
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
}
.sub{
    text-align: center;
    padding-top: 20px;

}
.box{
    padding: 30px;
    background-size: cover;
    background-position: center;
    text-align: center;
    flex: 25%;
}
.box img{
    border: 2px solid black;
}

/* footer */

.foot{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
#con{
    flex:33%;
    color: white;
    background-color: black;
}
#foot{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: blueviolet;
}
#unorder{
    list-style-type: none;
    margin:0;
    padding: 25px 100px;
    overflow: hidden;
    background-color:black;
}
li a{
    color: white;
    text-decoration: none;
    padding: 12px 12px;
}
li a:hover{
    color: blueviolet;
}
#copy{
    background-color: black;
    color: white;
    padding: 20px;
}
#copy,#align{
    text-align: center;
    text-decoration: none;
}



